[submodule "vim/vundle"]
	path = vim/vundle
	url = https://github.com/gmarik/Vundle.vim
[submodule "vim/bundle/vim-rbenv"]
	path = vim/bundle/vim-rbenv
	url = git@github.com:tpope/vim-rbenv.git
[submodule "zsh/prezto"]
	path = zsh/prezto
	url = https://github.com/sorin-ionescu/prezto.git
