#############
# HTML TAGS #
#############
snippet a "Link" w
<a href="${1:http://www.${2:url.com}}"${3: target="_blank"}>${4:Anchor Text}</a>
endsnippet

snippet b "<b>" w
<b>$1</b>
endsnippet

snippet br "<br>" w
<br/>
endsnippet

snippet cla "class global attribute"
className="$1"
endsnippet

snippet div "<div>" w
<div>
${0:${VISUAL}}
</div>
endsnippet
