snippet tdn "TODO (todo)" b
# TODO: $1

[ ] $2

endsnippet

snippet td "TODO (todo) [b]"
[ ] $1
endsnippet

snippet tdi "TODO (todo) [b]" i
[ ] $1
endsnippet


snippet h "<h${n}>" w
<b>$1</b>
endsnippet
