extends typescript

#############
# HTML TAGS #
#############
snippet a "Link" w
<a onClick={${1:function}} ${2: className="${3:class}"}>${4:Anchor Text}</a>
endsnippet

snippet h "<h${n}>" w
<b>$1</b>
endsnippet

snippet b "<b>" w
<b>$1</b>
endsnippet

snippet br "<br>" w
<br/>
endsnippet
