<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>66721870-5C60-4604-87ED-4646EFD4DABC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B504DC33-86FE-4C8A-8E79-E6A7E92415C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Profit Calculation</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Profit Calculation</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B504DC33-86FE-4C8A-8E79-E6A7E92415C3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>profit</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>calculating ...</string>
				<key>script</key>
				<string>function run(argv) {
  var incoming = argv;
  var tax = incoming * 0.04;
  var discounts = [
    tax,
    490, // pro-labore
    607.5, // plano de saude
    60, // agilize
    62, // inss
  ];

  var profit = incoming - discounts.reduce((sum, discount) =&gt; sum + discount);

  return `&lt;?xml version="1.0"?&gt;
  &lt;items&gt;
    &lt;item valid="YES" type="text" arg="${profit}"&gt;
      &lt;title&gt;Total Profit is ${profit}&lt;/title&gt;
      &lt;subtitle&gt;Hit enter to copy it to clipboar&lt;/subtitle&gt;
    &lt;/item&gt;
  &lt;/items&gt;
  `
}
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Enter the profit</string>
				<key>title</key>
				<string>Enter the profit</string>
				<key>type</key>
				<integer>7</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>66721870-5C60-4604-87ED-4646EFD4DABC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>66721870-5C60-4604-87ED-4646EFD4DABC</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>B504DC33-86FE-4C8A-8E79-E6A7E92415C3</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
