<settings>
    <pluginGroups>
        <pluginGroup>com.atlassian.maven.plugins</pluginGroup>
    </pluginGroups>
    <servers/>
    <profiles>
		<profile>
	      <id>jboss-public-repository</id>
	      <repositories>
	        <repository>
	          <id>jboss-public-repository-group</id>
	          <name>JBoss Public Maven Repository Group</name>
	          <url>https://repository.jboss.org/nexus/content/groups/public/</url>
	          <layout>default</layout>
	          <releases>
	            <enabled>true</enabled>
	            <updatePolicy>never</updatePolicy>
	          </releases>
	          <snapshots>
	            <enabled>true</enabled>
	            <updatePolicy>never</updatePolicy>
	          </snapshots>
	        </repository>
	      </repositories>
	      <pluginRepositories>
	        <pluginRepository>
	          <id>jboss-public-repository-group</id>
	          <name>JBoss Public Maven Repository Group</name>
	          <url>https://repository.jboss.org/nexus/content/groups/public/</url>
	          <layout>default</layout>
	          <releases>
	            <enabled>true</enabled>
	            <updatePolicy>never</updatePolicy>
	          </releases>
	          <snapshots>
	            <enabled>true</enabled>
	            <updatePolicy>never</updatePolicy>
	          </snapshots>
	        </pluginRepository>
	      </pluginRepositories>
	    </profile>
	
        <profile>
            <id>defaultProfile</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>

            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://m2proxy.atlassian.com/repository/public</url>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>fail</checksumPolicy>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                        <checksumPolicy>fail</checksumPolicy>
                    </releases>
                </repository>

                <repository>
                    <id>atlassian-m1-repository</id>
                    <url>https://m2proxy.atlassian.com/repository/m1/</url>
                    <releases>
                        <checksumPolicy>fail</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>https://m2proxy.atlassian.com/repository/public</url>
                    <releases>
                        <enabled>true</enabled>
                        <checksumPolicy>fail</checksumPolicy>
                    </releases>
                    <snapshots>
                        <checksumPolicy>fail</checksumPolicy>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
            <properties>
                <downloadSources>true</downloadSources>
                <downloadJavadocs>true</downloadJavadocs>
            </properties>
        </profile>
    </profiles>
  	<activeProfiles>
    	<activeProfile>jboss-public-repository</activeProfile>
  	</activeProfiles>
</settings>
