<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.urlimport.66634F4B-DBB3-4262-8672-34D3483B4E9B</string>
	<key>lightthemeuid</key>
	<string>theme.urlimport.066B16C4-8D66-41C4-8E9B-E129779135F4</string>
</dict>
</plist>
