<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nicola.cavallazzi.ip</string>
	<key>connections</key>
	<dict>
		<key>D742DFA0-C815-4432-B6A8-FECC94F14ABF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>493800AC-9525-48C9-B688-92EB8AB25165</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1D14D8BB-8143-4C27-BA90-35793A8733A4</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Large type</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nicola Cavallazzi</string>
	<key>description</key>
	<string>Gets your public and private IPs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>IP</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>493800AC-9525-48C9-B688-92EB8AB25165</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ip</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Wait for it...</string>
				<key>script</key>
				<string>require 'net/http'
require 'socket'

def local_ip
	begin
		orig, Socket.do_not_reverse_lookup = Socket.do_not_reverse_lookup, true  # turn off reverse DNS resolution temporarily
		UDPSocket.open do |s|
			s.connect '64.233.187.99', 1
			s.addr.last
		end
	rescue
		return false
	end
ensure
	Socket.do_not_reverse_lookup = orig
end

local = local_ip

if local
	puts '&lt;?xml version="1.0"?&gt;
	&lt;items&gt;
	  &lt;item uid="LocalIP" arg="'+local+'" valid="YES" type="text"&gt;
	    &lt;title&gt;'+local+'&lt;/title&gt;
	    &lt;subtitle&gt;Your LOCAL IP - Enter to copy&lt;/subtitle&gt;
	  &lt;/item&gt;'
	data = Net::HTTP.get(URI("http://icanhazip.com")).chomp
	puts '&lt;item uid="PublicIP" arg="'+data+'" valid="YES" type="text"&gt;
	    &lt;title&gt;'+data+'&lt;/title&gt;
	    &lt;subtitle&gt;Your PUBLIC IP - Enter to copy&lt;/subtitle&gt;
	  &lt;/item&gt;
	&lt;/items&gt;'
else
	puts '&lt;?xml version="1.0"?&gt;
	&lt;items&gt;
	  &lt;item valid="NO" type="text"&gt;
	    &lt;title&gt;You are not connected&lt;/title&gt;
	    &lt;subtitle&gt;You don\'t have any IP address since you are not connected&lt;/subtitle&gt;
	  &lt;/item&gt;'
end
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Wait for it...</string>
				<key>title</key>
				<string>Looking for your IPs</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D742DFA0-C815-4432-B6A8-FECC94F14ABF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>largetypetext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>1D14D8BB-8143-4C27-BA90-35793A8733A4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1D14D8BB-8143-4C27-BA90-35793A8733A4</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>493800AC-9525-48C9-B688-92EB8AB25165</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>D742DFA0-C815-4432-B6A8-FECC94F14ABF</key>
		<dict>
			<key>xpos</key>
			<integer>140</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
