snippet ttd "test.todo('should do')" b
test.todo("${1:}");
endsnippet

snippet jfn "jest.fn()" w
jest.fn()${1:}
endsnippet

snippet jexpe "expect(...).toEqual(...)" b
expect(${1:}).toEqual(${0});
endsnippet

snippet jexph "expect(...).toHaveBeenCalled(...)" b
expect(${1:}).toHaveBeenCalled(${0});
endsnippet


